.therapist-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    padding: 16px;
   }
   
   .therapist-list div {
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
   }
   
   .therapist-list h3 {
    margin-top: 0;
   }