@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

/* .leftSide{
    width: 8%;
    height: auto;
    background-color: #10b981;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.leftSide .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 1rem 1rem 1rem;
    color: #ffffff;
}

.leftSide .logo p{
    margin: 2rem 0;
}

.leftSide .logo svg{
    width: 4rem;
    margin: -18rem 0;
}

.leftSide .iconos{
    margin: 3rem;
}

.leftSide .iconos svg{
    margin: 2rem 0;
    cursor: pointer;
}

.leftSide .logout{
    margin: 3rem;
}

.leftSide .logout svg{
    cursor: pointer;
}
.leftSide .calendar svg{
    margin: 3rem;
    cursor: pointer;
}
.leftSide .home svg{
    margin: 3rem;
    cursor: pointer;
}
.leftSide .professionals svg{
    margin: 3rem;
    cursor: pointer;
}
.leftSide .settings svg{
    margin: 3rem;
    cursor: pointer;
}
.leftSide .notifications svg{
    margin: 3rem;
    cursor: pointer;
}