<section class="container">
    <header>Perfil de usuario</header>
    <form action="#" class="form" enctype="multipart/form-data">
      <div class="input-box">
        <label>Nombre</label>
        <input type="text" placeholder="Nombre" required />
      </div>
      <div class="input-box">
        <label>Apellido</label>
        <input type="text" placeholder="Apellido" required />
      </div>
      <div class="input-box">
        <label>Correo Electronico</label>
        <input type="text" placeholder="Correo Electronico" required />
      </div>
      <div class="column">
        <div class="input-box">
          <label>Numero movil</label>
          <input type="number" placeholder="Numero movil" required />
        </div>
        <div class="input-box">
          <label>Nacimiento</label>
          <input type="date" placeholder="Nacimiento" required />
        </div>
      </div>
      <div class="gender-box">
        <h3>Genero</h3>
        <div class="gender-option">
          <div class="gender">
            <input type="radio" id="check-male" name="gender" checked />
            <label for="check-male">Hombre</label>
          </div>
          <div class="gender">
            <input type="radio" id="check-female" name="gender" />
            <label for="check-female">Mujer</label>
          </div>
          <div class="gender">
            <input type="radio" id="check-other" name="gender" />
            <label for="check-other">Prefiero no decir</label>
          </div>
        </div>
      </div>
      <button>Submit</button>
    </form>
  </section>