@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.login{
    display: flex;
    justify-content: center;
    align-content: center;
}

h2{
    margin: 2rem 0;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.login .formulario div{
    margin: 1.6rem;
}

.login .formulario div label, input{
    font-family: 'Quicksand';
}

.login .formulario .accion button{
    margin-right: 2rem;
}

.login .formulario .accion span{
    cursor: pointer;
}

.joinImgLeft img{
    width: 20rem;
    position: fixed;
    bottom: 0;
    left: 20px;
}

.joinImgRight img{
    width: 24rem;
    position: fixed;
    bottom: 20px;
    right: 0;
}

.underline-on-hover {
    position: relative;
}

.underline-on-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    border-bottom: 1px solid #c9e7b8; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.underline-on-hover:hover::after {
    opacity: 1;
}
