<app-layout>
    <main class="main grid grid-cols-4 gap-12 m-16">
        <app-modal-profesional></app-modal-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
        <app-card-profesional></app-card-profesional>
    </main>
</app-layout>