@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

app-sidemenu {
    width: 8%;
    height: auto;
    background-color: #10b981;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    width: auto;
    height: 100vh;
    background-color: white;
}

.main{
    width: 60vw;
    height: auto;
    background-color: #f2f7f1;
}

.container .rightSide{
    height: auto;
    width: 30%;
    background-color: #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main .searchAndDate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.main .searchAndDate .search{
    margin-right: 2rem;
    display: flex;
}

.main .searchAndDate .search span{
    margin-right: 1rem;
    margin-top: .4rem;
}

.main .searchAndDate .search span svg:hover{
    cursor: pointer;
    fill: #f07979;
}

.main .searchAndDate .today{
    display: flex;
}

.main .searchAndDate .today span{
    margin-right: .5rem;
}

.main .actividad{
    display: flex;
    margin-top: 1rem;
}

.main .actividad a{
    margin: 0 .4rem;
}

.container .rightSide .perfil{
    margin: 2rem;
    display: flex;
    padding-left: 1rem;
}

.container .rightSide .expertos{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.container .rightSide .expertos .online{
    margin: 2rem;
    display: flex;
    padding-left: 1rem;
}

.container .rightSide .expertos .online li{
    margin-left: -2rem;
    display: flex;
}