<app-layout>
    <div class="container">
        <main class="main">
            <div class="welcome">
                <a href="#"
                    class="group block max-w-4xl mx-auto w-full rounded-xl p-6 mb-8 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3">
                    <div class="flex items-center space-x-3 my-6 mx-6">
                        <h3 class="text-slate-900 text-2xl font-semibold">Planea tu cita con un profesional</h3>
                    </div>
                    <div class="profesional flex ml-9">
                        <figure class="mr-4">
                            <img src="assets/images/terhome.jpg" alt="Profesional"
                                class="rounded-2xl w-28 h-24 mb-4 object-cover">
                        </figure>
                        <div class="dr">
                            <strong class="text-red-500 text-lg">Terapeuta Hdez. Angelica</strong>
                            <app-stars></app-stars>
                            <p class="text-slate-500 text-sm mt-2">Profesional de la salud con +12 años de experiencia
                                en terapia familiar, posee un enfoque centrado en el paciente y basado en la evidencia.
                            </p>
                        </div>
                    </div>
                    <div class="dateAndTime flex">
                        <div class="fecha ml-9">
                            <h5 class="font-bold text-emerald-500">Escoge la fecha y hora</h5>
                            <div inline-datepicker data-date="02/25/2022"></div>
                        </div>
                        <div class="hora ml-9">
                            <p class="my-5 font-bold text-gray-600">Horas disponibles</p>
                            <div class="mb-6">
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">8:30
                                    AM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">9:30
                                    AM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">10:30
                                    AM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">11:30
                                    AM</span>
                            </div>
                            <div class="mb-6">
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">13:30
                                    PM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">14:30
                                    PM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">15:30
                                    PM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">16:30
                                    PM</span>
                            </div>
                            <div class="mb-6">
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">17:30
                                    PM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">18:30
                                    PM</span>
                                <span
                                    class="border-solid border-2 border-red-400 rounded-full hover:bg-red-500 py-1 px-2 mr-3">19:30
                                    PM</span>
                            </div>
                            <button type="button"
                                class="mt-4 text-white bg-gradient-to-br from-green-400 to-emerald-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-700 font-bold tracking-wide rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                Agendar mi cita
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </main>
        <aside class="rightSide">
            <div class="overview">
                <h4 class="text-2xl text-red-400 font-bold">Visión general</h4>
                <form class="bg-white shadow-md rounded-xl px-8 pt-6 pb-8 mb-4 formulario w-full">
                    <div class="mt-8">
                        <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Fecha seleccionada</label>
                        <input type="date" name="date" id="date" value="2023-12-11"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-none focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75"
                            placeholder="example@example.com">
                    </div>
                    <div class="mt-8">
                        <label for="time" class="block text-gray-700 text-sm font-bold mb-2">Hora seleccionada</label>
                        <input type="time" name="time" id="time" value="09:41"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-none focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75">
                    </div>
                    <div class="mt-8">
                        <label for="pass" class="block text-gray-700 text-sm font-bold mb-2">Profesional
                            seleccionado</label>
                        <input type="text" name="profesional" id="user" placeholder="Terapeuta Hdez. Angelica"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-none focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75">
                    </div>
                    <div class="mt-8">
                        <label for="pass" class="block text-gray-700 text-sm font-bold mb-2">Servicios
                            seleccionados</label>
                        <input type="number" name="servicios" id="servicios" placeholder="Terapia familiar"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-none focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75">
                    </div>
                    <div class="mt-8">
                        <label for="pass" class="block text-gray-700 text-sm font-bold mb-2">Precio</label>
                        <input type="number" id="currency-input"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border-none focus:outline-none focus:shadow-outline focus:ring-2 focus:ring-emerald-400 focus:ring-opacity-75"
                            placeholder="Gratis" required>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</app-layout>